@media (max-width: 992px){

	.navbar-nav .nav-item .nav-link {
		padding: 5px 10px;
		font-weight: 400;
	}

	.banner .section-title {
		font-size: 55px;
	}
	.banner .sub-title {
		font-size: 25px;
	}
	.article .signup-box {
		width: 50%;
	}
	.fl-item .read-box {
		width: 100%;
	}

	.news-form .form-btn {
		padding: 10px 50px;
	}

}
@media (max-width: 768px){
	
	.navbar-nav {
		min-height: 100%;
		border: 1px solid #fff;
		box-shadow: 0 5px 15px #544e4e;
		border-radius: 0 0 5px 5px;
		-webkit-transition:  all 3s; /* For Safari 3.1 to 6.0 */
		-moz-transition:  all 3s; /* For Mozilla 3.1 to 6.0 */
		-o-transition:  all 3s; /* For Opera 3.1 to 6.0 */
		transition:  all 3s;
	}
	.navbar-brand h2 {
		text-align: left;
		font-size: 22px;
		color: #030303;
		margin-bottom: -12px;
	}
	.navbar-collapse {
		position: absolute;
		top: 70px;
		z-index: 9;
		color: #fff;
		left: 0px;
		width: 100%;
		background-color: #fff;
	}
	.banner .section-title {
		font-size: 40px;
	}
	.banner .sub-title {
		font-size: 20px;
	}

	.bl-item .item-img {
		width: 150px;
	}

	.news-form .form-btn {
		padding: 10px 40px;
	}
	.article .signup-box {
		width: 100%;
	}
	.fl-item .read-box {
		width: 100%;
	}
	.grid .grid-content h2 {
		font-size: 25px;
		text-align: center;
	}
	.footer h5 {
		font-size: 15px;
	}
	.footer p {
		font-size: 16px;
	}
}
@media (max-width: 500px){
	

	.banner .section-title {
		font-size: 30px;
	}
	.banner .sub-title {
		font-size: 15px;
	}
	.bl-item .item-img {
		width: 120px;
	}
	
	.footer h5 {
		font-size: 15px;
	}
	.footer p {
		font-size: 16px;
	}
}