header{
    background-color: bisque;
}

.overlay {
    background-color: rgba(3, 3, 3, 0.5);
    overflow: hidden;
}
.section-content{
    margin: 0 auto;
}
.navbar-brand h2 {
    text-align: left;
    font-size: 30px;
    color: #030303;
    margin-bottom: -6px;
}
.navbar-brand span {
    text-align: left;
    font-size: 13px;
    color: #f09712;
}

.navbar-nav .nav-item .nav-link {
    padding: 5px 15px;
    margin: 5px;
    color: #000;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    text-align: center;
}
.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item .nav-link:hover {
    background: #F0532D;
    color: #fff;
}
.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
    box-shadow: 0px 0px 20px #a5a5a5;
    background-color: #d75d0e;
}

.banner {
    width: 100%;
    float: left;
    background-color: #000000;
    background-image: url(../../assets/images/bg/banner.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    margin: 0 auto;
    position: relative;
}
.banner .section-title {
    margin-top: 30%;
    font-size: 65px;
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.banner .sub-title {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 10%;
}
.bl-item{
    float: left;
}
.bl-item .item-img {
    width:120px;
    margin: 0 auto;
}
.bl-item .item-img img{
    width: 100%;
    transition: all 0.3s linear; 

}
.bl-item:hover .item-img img {
    width: 100%;
    transform: rotate(45deg);
}
.bl-item .item-info {
}
.bl-item .item-info h2 {
    color: #fff;
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
}
.bl-item .item-info p {
    color: #b6b3b3;
    font-size: 14px;
    text-align: center;
}
.news {
    width: 100%;
    float: left;
    background-color: #FFF;
    margin: 0 auto;
    position: relative;
}
.news .overlay{
    background-color: rgba(3, 3, 3, 0.1);
}
.news .section-title{
    text-align: center;
    padding: 70px;
    font-size: 26px;
    color: #4d4444;
}
.feature .feature-item {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}
.feature-item .fl-item {
    float: left;

}
.fl-item .item-img {
    width: 100%;
    margin-bottom: 20px;    
    overflow: hidden;
    position: relative;

}
.fl-item .item-img img{
    width: 100%;
    transition: all 0.3s linear;
}

.fl-item:hover .item-img img {
    -ms-transform: scale(.8);
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.fl-item .item-info{
    padding: 0 30px;
    text-align: center;
}
.fl-item .item-info h2{
    padding: 10px;
    font-size: 20px;
    color: #212121;
}
.fl-item .item-info p {
    font-size: 14px;
    color: #212121;
    line-height: 30px;
}
.fl-item .read-box {
    width: 50%;
    margin: 10% auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.fl-item .read-box .readmore {
    display: block;
    padding: 15px;
    background-color: #fff;
    border-radius: 25px;
    color: #44413f;
    font-size: 14px;
}
.fl-item .read-box .readmore:hover {
    background-color: #ff7e00;
    color: #fff;
    text-decoration: none;
}
.newsletter {
    width: 100%;
    float: left;
    background-color: #ECD5BA;
    background-image: url(../../assets/images/newsletter.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.newsletter .section-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 10%;
}
.newsletter p {
    text-align: center;
    font-size: 14px;
    color: #e3dede;
    margin-top: 10px;
}

.news-form {
    width: 100%;
    position: relative;
    margin-bottom: 15%;
}
.news-form form {
    max-width: 100%;
    margin-top: 8%;
}
.news-form .form-control {
    padding: 23px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
}

.news-form ::placeholder{
    color: #F5F3F4;
    font-weight: 400;
}

.news-form .form-btn {
    padding: 10px 75px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #fff;
    font-size: 17px;
    color: #6c4e30;
    font-weight: 300;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.news-form .form-btn:hover {
    border: 1px solid #f37112;
    background-color: #f37112;
    color: #fff;
}
.article{
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.article .overlay{
    background-color: transparent;
}
.grid .grid-content {
    float: left;
    padding: 25px;
}
.grid .grid-img {
    float: left;
    padding: 25px 0;
}
.grid .grid-img img{
    max-width: 100%;
    transition: all 0.3s linear;
}
.grid .grid-img{
    text-align: right;
}

.grid:hover .grid-img img{
    -ms-transform: scale(.8);
    -webkit-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}
.grid .grid-content h2 {
    margin-top: 10%;
}
.grid .grid-content p {
    line-height: 25px;
    font-size: 15px;
    color: #5c5858;
    margin-top: 25px;
}
.article .signup-box {
    width: 30%;
    float: left;
    margin-top: 5%;
    overflow: hidden;
    display: block;
}
.article .signup-box .signup-btn-one,.article .signup-box .signup-btn-two {
    padding: 10px 40px;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    display: block;
    text-align: center;
}
.article .signup-box .signup-btn-one {
    background: #ff4800;
}
.article .signup-box .signup-btn-one:hover {
    background: #4B4D73;
    text-decoration: none;
}
.article .signup-box .signup-btn-two {
    background: #4B4D73;
}
.article .signup-box .signup-btn-two:hover {
    background: #ff4800;
    text-decoration: none;
}
.quick-link{
    width: 100%;
    float: left;
    background-color: #D75D0E;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.quick-link .overlay{
    background-color: transparent;
}
.quick-link .ql-grid {
    float: left;
    overflow: hidden;
    margin: 5% auto;

}
.quick-link .ql-grid h2 {
    text-align: center;
    font-size: 16px;
    color: transparent;
}
.ql-grid ul {
    width: 100%;
    padding-left: 0;
}
.ql-grid ul li {
    list-style: none;
    text-align: center;
    margin: 5px 0;
}
.ql-grid ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.ql-grid ul li a:hover{
    color: #212121;
}
.footer{

    width: 100%;
    float: left;
    background-color: #D75D0E;
    background-image: url(../img/23.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.footer h5 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10%;
}
.footer p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10%;
    margin-top: 5px;
}
.footer p span a {
    color: #fff;
    font-weight: 500;
}
.footer p span a:hover {
    color: #ffa812;
}
.go-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #ff3605;
    padding: 15px;
    color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.go-top.show{
    display: block;
}

.go-top.hide{
    display: none;
}
.go-top i {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}


.go-top:hover{
    color: #fff;
}